@model IEnumerable<ProjetoFacul.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    <a class="btn btn-success" href="/Cliente/Incluir"> <i class="glyphicon glyphicon-plus"> </i>Incluir Cliente</a>
</p>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Email</th>
    </tr>

    @foreach (var cliente in Model)
    {
        <tr>
            <td>

                @Html.ActionLink(cliente.Nome, "Detalhes", new { id = cliente.Id })

            </td>
            <td>
                @cliente.Email

            </td>
        </tr>
    }
</table>