@model ProjetoFacul.Models.Produto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Dados do Produto</h2>
<hr />

<dl>
    <dt>Nome:</dt>
    <dd>@Model.Nome</dd>

    <dt>Fornecedor:</dt>
    <dd>@Model.Fornecedor</dd>


    <dt>Preço:</dt>
    <dd>@Model.Preco.ToString("c")</dd>

    <dt>Estoque:</dt>
    <dd>@Model.Estoque</dd>
</dl>

<div>
    <hr />
    <a href="/Produto/Index" class="btn btn-info"><i class="glyphicon glyphicon-refresh"> </i> Voltar</a>
    <a href="/Produto/Alterar/@Model.Id" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"> </i> Alterar</a>
    <a href="/Produto/Excluir/@Model.Id" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"> </i> Excluir</a>

</div>
