@model IEnumerable<ProjetoFacul.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Produtos</h2>

<p>
    <a class="btn btn-success" href="/Produto/Incluir"> <i class="glyphicon glyphicon-plus"> </i>Incluir Produto</a>
</p>


<table class="table">
    <tr>
        <th>Nome</th>
        <th>Fornecedor</th>
        <th>Preço</th>
    </tr>

    @foreach (var produto in Model)
    {
        <tr>
            <td>

                @Html.ActionLink(produto.Nome, "Detalhes", new { id = produto.Id })

            </td>
            <td>
                @produto.Fornecedor

            </td>
            <td>
                @produto.Preco.ToString("c")

            </td>
        </tr>
    }
</table>