@{
    ViewBag.Title = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Projeto Facul</h1>
    <p>Sistema de Pedido</p>
    <div>
        <img src="~/Img/ProjetoFacul.jpg" />
    </div>
</div>
